<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holidays</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
</head>
<body>
    <header><h1>Public Holidays</h1></header>
    <main>
        <div>
            <div id="country_selector">
                <label for="country">Country</label>
                <select id="country" name="country"
                        hx-get="/holidays"
                        hx-target="#country_selection_results"
                        hx-swap="innerHTML">
                    <option>Select a country</option>
                    {% for country_code, country_name in countries %}
                    <option value="{{ country_code }}">{{ country_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="country_selection_results"></div>
        </div>
    </main>
    <footer>
        <p>Problems? Create an issue on <a href="https://github.com/JohanBurger/HTMX_Holiday">GitHub</a></p>
        <p>Made with ❤️ and <a href="https://htmx.org">HTMX</a></p>
        <!-- Legal requirement, as per https://twitter.com/htmx_org/status/1669352547990253569 🤣 -->
        <img src="../static/img/htmx_banner.png" width="200" alt="'Created with HTMX' banner">
    </footer>
</body>
</html>