<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holidays</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
</head>
<body>
    <header><p><h1>Public Holidays</h1></p></header>
    <main>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Holiday</th>
                </tr>
                </thead>
                <tbody>
                    {% for day, name in list %}
                        <tr>
                            <td>{{ day }}</td>
                            <td>{{ name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <p>Made with ❤️ and <a href="https://htmx.org">HTMX</a></p>
        <!-- Legal requirement, as per https://twitter.com/htmx_org/status/1669352547990253569 🤣 -->
        <img src="../static/img/htmx_banner.png" alt="'Created with HTMX' banner"/>
    </footer>
</body>
</html>